nav {
    border-bottom: 1px solid #000000;
}
nav ul {
    padding: 0;
}
nav li {
    display: inline-block;
    margin: 10px 5px;
    vertical-align: top;
}
nav ul li:first-child {
    margin-left: 0;
}
nav li a {
    padding: 5px 15px;
    display: inline-block;
    text-decoration: none;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000;
    min-width: 50px;
}
nav li a:hover {
    background-color: #000000;
    color: #ffffff;
}