nav ul {
    padding: 0;
}
nav li {
    display: inline-block;
    border: 1px solid #000;
    margin: 10px 5px;
}
nav li a {
    padding: 5px 15px;
    display: inline-block;
    text-decoration: none;
    background-color: #000000;
    color: #ffffff;
}
nav li a:hover {
    background-color: #ffffff;
    color: #000000;
}