.project-content {
    float: none;
    display: none;
    clear: both;
    color: rgba(0,0,0,0.87);
    cursor: pointer;
    min-height: 50px;
    text-align: left;
    position: absolute;
    background-color: #333;
    z-index: 100;
}

.project-content li {
    float: none;
}

.project-trigger:hover + .project-content {
    display: block;
}
.project-content:hover {
    display: block;
}

.sidenav .project-menu-inner {
    background-color: #f4f4f4;
}
.sidenav .project-menu-inner a {
    padding-left: 5rem;
}
