/* .reflection-para:first-child::first-letter {
    font-size: 30px;
}

.reflection-para:not(:first-child) {
    text-indent: 20px;
}

.reflection-para {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
} */

.nav-extended {
    margin-bottom: 1rem;
}
footer {
    margin-top: 50px;
    padding: 25px 0;
    color: #fff;
    background-image: url('./images/foooter-img.PNG');
}

footer a {
    color: #fff;
    cursor: pointer;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}

footer a:hover {
    background-color: rgba(0,0,0,0.1);
}

footer i, footer a {
    vertical-align: middle;
}

footer a:hover i{
    transform: scale(1.2);
}

html {
    font-size: 16px;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 2rem;
}

@media only screen and (max-width: 992px) {
    html {
        font-size: 18px;
    }
}

@media print {
    html {
        font-size: 14px;
        color: #000;
    }
    ul {
        font-family: 'Quicksand-Regular';
        src: url('Quicksand-Regular.otf');
    }
    .nav-extended {
        display: none;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.8rem;
    }
    h3 {
        font-size: 1.6rem;
    }
    video {
        display: none;
    }
}